@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald:wght@200;600&family=Roboto:wght@100;500&display=swap');

:root{
    /* Colores */
    --fondo: #FFFDE3;
    --primario: #000000;
    --secundario: #C21010;
    --detalles: #ffffff;

    /* Espaciado */
    --spacing-large: 5rem;
    --spacing-medium: 3rem;
    --spacing-small: 1rem;

    /* Font-sizex */
    --text-large: 4em;
    --text-base: 2.5em;
    --text-small: 1.6em;
}

/* Estilos generales */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primario);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--fondo);
}
