/*Header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: map-get($espaciado, spacingSmall);
    background-color: map-get($colores, colorSecundario);
    }

.header__logo{
    max-width: 30%;
    padding: 0%;
    }

.header__menu{
        display: flex;
        gap: 10px;
    }    

.menu__item{
    font-size: 60%;
}    

.menu_link{
    cursor: pointer;
    padding: map-get($espaciado, spacingSmall);
    transition: all 1s;
    }
    
.menu__link:active{
    color: map-get($colores, colorFondo);
    }
    

@media(min-width:520px){

    
.menu__item{
    font-size: 90%;
}
}   

@media(min-width:728px){
    .menu__item{
        font-size: 130%;
    }    

    .menu_link{
        border: 3px solid map-get($colores, colorSecundario);
        transition: all 2s;

        }
    .menu__link:hover{
        color: map-get($colores, colorFondo);
        border: 3px solid map-get($colores, colorFondo);
        padding: 6%;
        }

    .header__logo{
        max-width: 20%;
        }
    
    .header__menu{
        gap: map-get($espaciado, spacingMedium);
    }
    
}
        