$colores: (
    colorFondo:#FFFDE3,
    colorPrimario:#000000,
    colorSecundario: #C21010,
    colorDetalles: #ffffff

);

$espaciado: (
    spacingLarge: 5rem,
    spacingMedium: 3rem, 
    spacingSmall: 1rem,
);

$text: (
    textLarge: 4em,
    textBase: 2.5em,
    textSmall: 1.6em
);


    

